

  /* Nav Bar */ 
  .navbar-brand {
    color: grey;
    display: inline-block;
    padding-top: 10px;
   
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; }
    .navbar-brand:hover, .navbar-brand:focus {
        color:rgb(136, 57, 57);
      text-decoration: none; 
    }
    .navbar-brand span {
      color:rgb(240, 12, 12);
        padding-left: 0px;
    }
    .navbar-brand span b{
        color: grey;
    }

    .nav-link{
      color:rgb(240, 12, 12);


    }

    .social-media {
        
      display: inline-block; }
      .social-media p a {
          
        border: 1px solid #e6e6e6;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 4px; }
        .social-media p a span {
          color: #4d4d4d; }
        .social-media p a {
          color:rgb(240, 12, 12);
          background: rgb(240, 12, 12);
          }
          .social-media p a:hover span {
            color: #fff; }
            .social-media p a span {
              color:white }

            .checked {
              color: rgb(240, 12, 12);;
            }


          
    .searchform {
      height: 46px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow: hidden;
      border-radius: 5px; }
      .searchform .form-control {
        width: calc(100% - 46px);
        border: none;
        background: #fff !important;
        color: rgba(0, 0, 0, 0.7) !important;
        font-size: 14px; }
       
      .searchform .search {
        width: 46px;
        height: 46px; }
        .searchform .search span {
          font-size: 20px; }
          .form-control {
              height: 46px !important;
              background: #fff !important;
              color: #000 !important;
              font-size: 14px;
              border-radius: 0px;
              -webkit-box-shadow: none !important;
              box-shadow: none !important;
              border: 1px solid rgba(0, 0, 0, 0.1); }
              .form-control:focus, .form-control:active {
                border-color: #000; }




                
h1{
  text-align: center;
  margin-bottom:50px ;
  margin-top: 80px;
  }
  .bookContainer{
    margin-bottom: 50px;
  }
  
  
  
  .bookContainer .right-side > span{
    display: block;
  }
  
  .bookContainer .right-side > span.bookOldPrice{
    display: inline;
   margin-right: 5px;
  
  }
  .bookContainer .right-side > span.bookPrice{
    display: inline;
  
  }
  
  .gray-line{
    display: block;
    color: red;
    
  }


.overflowwrap{
  overflow-x: scroll;
  margin-right: 15%;
  margin-left: 15%;

  text-align: center;
}
  .bookContainer .right-side{
    flex: 2;
    margin: auto;
  }
  .bookContainer .left-side{
    flex: 1;
  }
  
  .bookTitle{
    font-size: 16px;
    font-weight:bold;
  }
  
  .bookContent{
    font-size: 15px;
  }
  .bookOldPrice{
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    font-size: 14px;
  }
  
  .bookPrice{
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }
  
  img{
    width: 100px;
    margin:20px ;
    
  }
 #imgHover:hover
 {
   -moz-box-shadow: 0 0 10px #ccc;
   -webkit-box-shadow: 0 0 30px #ccc;
   box-shadow: 0 0 60px #ccc;
 }

  #displayImage{
    width: 330px;
  }
  .displayBlock{
    align-items: center;
  }
 
  .iconFont{
    font-size: 40px;
  }
  .adminDisplay {
    align-items: center;
    background-color:rgba(219, 216, 216, 0.89)
   
  }
  .userDisplay{
    background:linear-gradient(90deg, rgb(211, 52, 52) 0%, rgb(187, 104, 104) 35%, rgb(252, 244, 244) 100%);
  }

  .category{
    margin-top: 20px;
    background-color:rgba(219, 216, 216, 0.89)
  }

  #Category{
    color:rgb(240, 12, 12);
    margin-top: 4px;
    
      font-family: "Times New Roman", Times, serif;
    
    
    
  }
  .userBooks{
    align-items: center;
  }


  .register{
    margin : auto;
  }

  
  .footer{
    margin-top: 40px;
   background-color: black;
    padding: 50px;
    color: grey;
     width: 100%;
     display: block;
     margin-bottom: 0px;
    
 }